@default-padding: 10px;
@default-color: #EE3F00;
@left-bar-width: 150px;
@total-width: 1280px;
@thumbnail-size: 160px;

body, label, h1, h2, h3, input {
    color: @default-color;
}

#page-content {
    width: @total-width;
    height: 100%;
    background-image: url("/assets/images/blumen3.png");
    background-repeat:no-repeat;
    @media print {
        width: @total-width - @left-bar-width;
        background-position: -@left-bar-width top;
    }
}

#top-header {
    height: 50px;
}

#left-bar {
    float:  left;
    height: 640px;
    width:  @left-bar-width;
    @media print {
        width: 0;
        display: none;
    }
}

#navigation ul {
    margin-top: 130px;
}

#navigation ul li {
    list-style: none;
    margin: 20px 0;
}

#heading {
    margin-bottom: 80px;
}

#content {
    padding:        @default-padding;
    margin-left:    @left-bar-width;
    width:          @total-width -  @left-bar-width - 350px;
    @media print {
        margin-left: 0;
    }
}

#anfahrt li {
    color: @default-color;
}

#ablauf {
    list-style: none;
    color: @default-color;
    margin-left: 20px;
}

#ablauf dd {
    padding-left: 10px;
}

#ablauf dt {
    display:list-item;
    list-style: circle;
}

#foto-blaetterer {
    padding-left: 160px;
    padding-top:   20px;
}

#foto-blaetterer p {
    display:      block;
    margin-left:  auto;
    margin-right: auto;
    width:        240px;
    font-weight:  bold;
}

input[type="file"][id="bildDatei"] {
    width:auto;
}

img.foto {
    display:     block;
    float:       right;
    max-width:   620px;
    max-height:  620px;
}

#fotoalbum-seite{
  div {
    float:   left;
    margin:  5px;
    width:   @thumbnail-size;
    height:  @thumbnail-size;
    padding: 0;
  }

  img.foto {
      float:                  none;
      max-width:              @thumbnail-size;
      max-height:             @thumbnail-size;
      margin:                 auto;
      -ms-interpolation-mode: nearest-neighbor;
      image-rendering:        optimizeSpeed;
  }
}

#fotoalbum-seiten-blaetterer{
    ul {
        list-style: none;
        display:      block;
        margin-left:  auto;
        margin-right: auto;
        width:        240px;
    }
    li {
        display: inline;
        font-weight:  bold;
    }
    .seitennummer {
        color:        @default-color;
        font-weight:  normal;
    }
}


#footer {
    clear:      both;
    text-align: center;

    @media print {
        display: none;
    }
}

.help-inline, .help-block {
    color: #909090;
}

form .error .help-block, form .error .help-inline {
    color: #B94A48;
}

hr.separator {
   border-color: -moz-use-text-color -moz-use-text-color @default-color;
}