@default-padding: 10px;
@left-bar-width: 150px;

body, label, h1, h2, h3, input {
    color: #EE3F00;
}

#page-content {
    width:  1280px;
    height: 100%;
    background-image: url("/assets/images/blumen.png");
}

#top-header {
    height: 50px;
}

#left-bar {
    float:  left;
    height: 640px;
    width:  @left-bar-width;
}

#heading {
    margin-bottom: 60px;
}

#content {
    padding:        @default-padding;
    margin-left:    @left-bar-width;
    width:          780px;
}

#footer {
    clear:      both;
    text-align: center;
}

.help-inline, .help-block {
    color: #909090;
}

form .error .help-block, form .error .help-inline {
    color: #B94A48;
}

