@default-padding: 10px;
@left-bar-width: 150px;

body, label, h1, h2, h3, input {
    color: #EE3F00;
}

#page-content {
    width:  1024px;
    height: 100%;
}

#top-header {
    height: 50px;
}

#left-bar {
    float:  left;
    height: 640px;
    width:  @left-bar-width;
}

#content {
    padding:        @default-padding;
    margin-left:    @left-bar-width;
}

#footer {
    clear:      both;
    text-align: center;
}

.help-inline, .help-block {
    color: #909090;
}