@(album: model.Fotoalbum, foto: model.Foto)

@import helper._
@import helper.twitterBootstrap._

@heading = {
Fotoalbum von @album.besitzer.name.vorname
}

@main(heading=heading.toString) {
<div id="foto-blaetterer">
    <p>
        <a id="vorhergehendesBild" href="#prev">&lt;&lt;&lt; Zur&uuml;ck</a>&nbsp;|&nbsp;

        @album.naechstePosition(foto).map { pos =>
            <a id="naechstesBild" href="@routes.FotoVorfuehrer.fotoalbum(album.besitzer.name, pos)">Weiter &gt;&gt;&gt;</a>
        } getOrElse {
            Weiter &gt;&gt;&gt;
        }
    </p>
</div>
<div>
    <img  style="display:block;float:right;" width="620px" src="@routes.FotoVorfuehrer.foto(foto.id.get)">
</div>

}