@(album: model.Fotoalbum, foto: model.Foto)

@import helper._
@import helper.twitterBootstrap._

@heading = {
Fotoalbum von @album.besitzer.name.vorname
}

@main(heading=heading.toString) {
<div id="foto-blaetterer">
    <p>
        @album.vorhergehendePosition(foto).map { pos =>
            <a id="vorhergehendesBild" href="@routes.FotoVorfuehrer.fotoalbumEinzelfoto(album.besitzer.name, pos)">&lt;&lt;&lt; Zur&uuml;ck</a>
        }.getOrElse {
            &lt;&lt;&lt; Zur&uuml;ck
        }
        &nbsp;|&nbsp;
            <a id="uebersicht" href="@routes.FotoVorfuehrer.fotoalbum(album.besitzer.name)">Übersicht</a>
        &nbsp;|&nbsp;
        @album.naechstePosition(foto).map { pos =>
            <a id="naechstesBild" href="@routes.FotoVorfuehrer.fotoalbumEinzelfoto(album.besitzer.name, pos)">Weiter &gt;&gt;&gt;</a>
        }.getOrElse {
            Weiter &gt;&gt;&gt;
        }
    </p>
</div>
<div>
    <img class="foto" src="@routes.FotoVorfuehrer.foto(foto.id.get)">
</div>

}