@main(heading="Impressum", displayNavigation=false) {

<div id="impressum">

    <p>
        Stefan Penndorf
        <br />
        Luckaer Str. 22
        <br />
        04229 Leipzig
        <br />
        <a href="&#109;&#97;&#x69;&#x6c;&#116;&#x6f;&#x3a;&#115;te&#102;&#97;&#x6e;&#64;cyphoria&#x2e;ne&#x74;">stefan at cyphoria dot net</a>
        <br />
        0151/11576308
    </p>
</div>

<div id="final_provisions">
    <p>
        Gem&auml;&szlig; &sect;28 BDSG widersprechen wir jeder kommerziellen Verwendung und Weitergabe unserer Daten.
        Bei dieser Webseite handelt es sich um eine private Webseite.
    </p>
</div>

<a id="back-to-index" href="@routes.Application.index">&lt;&lt;&lt;&nbsp;Zur&uuml;ck zur Startseite</a>
}
