@(heading: String, title: String = "Steffi und Stefan heiraten!")(content: Html)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
   <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="title" content="@title" />
        <meta name="language" content="de" />
        <meta name="robots" content="noindex, nofollow" />
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
    <div id="page-content">
        <div id="top-header"></div>
        <div id="left-bar"></div>
        <div id="content">
            <h1 id="heading">@heading</h1>
            @content
        </div>
        <div id="footer">
          <a id="impressum-link" href="@routes.Application.impressum">Impressum</a>
        </div>
    </div>
    </body>
</html>