@(name: String, email: String)

@main(heading="Hallo @name, du hast dich erfolgreich registriert.") {
        <div>
            Jetzt musst du nur noch deine Freischaltung abwarten. Das Hochzeitspaar wird deine Registrierung entgegen
            nehmen und dich m&ouml;glichst bald freischalten. Mit deiner Freischaltung erh&auml;lst du auch ein
            Passwort.
        </div>

        <div>
            Bitte hab noch etwas Geduld, du erh&auml;lst eine E-Mail an die von dir angegebene Adresse @email
            sobald du freigeschaltet wurdest.
        </div>
}