@(registrierungsFormular: Form[_root_.model.HochzeitsGastBewerbung])

@import helper._
@import helper.twitterBootstrap._

@main() {
    <h1>Als Hochzeitsgast registrieren</h1>

    @form(action = routes.Registrierung.registrieren, 'id -> "registrierungsformular") {

        @if(!registrierungsFormular.globalErrors.isEmpty) {
            <div id="global-errors" class="clearfix  error">
                <span class="help-inline">Fehler bei der Registrierung:</span>
                <ul>
                    @registrierungsFormular.globalErrors.map { error =>
                        <li class="help-inline">@Messages(error.message)</li>
                    }
                </ul>
            </div>
        }


        <fieldset>

        @inputText(
            registrierungsFormular("vorname"),
            'id -> "vorname",
            'size -> 30,
            'maxlength -> 50,
            '_showErrors -> true
        )

        @inputText(
            registrierungsFormular("nachname"),
            'id -> "nachname",
            'size -> 30,
            'maxlength -> 50,
            '_showErrors -> true
        )

        @inputText(
            registrierungsFormular("email"),
            'id -> "email",
            'size -> 30,
            '_showErrors -> true
        )

        @inputText(
            registrierungsFormular("sicherheitsfrage"),
            'id -> "sicherheitsfrage",
            'size -> 30,
            '_showConstraints -> false,
            '_showErrors -> true,
            '_help -> "Vorname und Nachname"
        )


        <a id="back-to-index" href="@routes.Application.index">&lt;&lt;&lt;&nbsp;Zur&uuml;ck zur Startseite</a>

        <input type="submit" id="registrieren" value="Registrieren" style="margin-left:45px;"/>

        </fieldset>

}

}



