@(benutzer: model.Benutzer)

@begruessung = {
Willkommen @benutzer.name.vorname
}

@main(heading=begruessung.toString) {


<img style="display:block;float:left;margin-right:15px;" width="340px"
     alt="Das Hochzeitspaar - Steffi und Stefan - auf der Couch"
     title="Das Hochzeitspaar - Steffi und Stefan - auf der Couch"
     src="@routes.Assets.at("images/traumpaar.jpg")">
<div>
    <p>
        Zunächst erstmal: <strong>VIELEN VIELEN DANK!!!</strong>
    </p>

    <p>
        Es war ein wunderschöner Tag für uns und wir hatten sehr viel Spaß mit euch! Und natürlich auch nochmal vielen
        Dank für die tollen Geschenke! Ihr werdet auch noch Post von uns bekommen, aber ich befürchte, dass dauert noch
        einbisschen...
    </p>

    <p>
        Wir haben es endlich geschafft: die <a href="@routes.FotoVorfuehrer.fotoalbum(model.BenutzerName("Stefan","Penndorf"), 1)">Fotos von unserer Hochzeit</a> sind online! Ursprünglich wollten wir sie in
        Originalqualität hochladen aber dafür waren sie dann doch zu groß. Wenn ihr gern bestimmte Bilder im Original
        haben möchtet, gebt einfach Bescheid – dann brennen wir sie euch auf CD. Viel Spaß beim anschauen :)
    </p>

    <p>
        Wir würden uns sehr freuen, wenn ihr <a href="@routes.FotoVorfuehrer.fotoalben">eure Bilder auch hochladen</a> würdet!
    </p>

    <p>
        Ganz liebe Grüße<br/>
        Steffi & Stefan
    </p>
</div>
}