@(benutzer: model.Benutzer)

@begruessung = {
Willkommen @benutzer.name.vorname
}

@main(heading=begruessung.toString) {
<p>
    nur noch 2 Tage, bis zum <strong>13. September</strong>! Die Wetteraussichten sind ja leider nicht so berauschend
    aber davon lassen wir uns die Laune nicht vermiesen :) Falls es so kalt bleibt oder regnet findet die Trauung im
    Ratssaal des Rathauses in Zwenkau statt. Das Radio meinte vorhin: Morgen regnet es sich aus und Freitag gibt es dann
    immerhin schon wieder 3 – 5 Sonnenstunden und etwa 19 Grad. Bringt euch bitte auf jeden Fall ein Jäckchen mit! Wir
    hoffen immer noch, dass die Trauung draußen stattfinden kann…
</p>
<p>
    Anfahrtsskizzen für das Standesamt in Zwenkau und den Bayerischen Bahnhof findet ihr unter den folgenden Links:
</p>
<ul id="anfahrt">
    <li>Anfahrt Standesamt - <a href="http://goo.gl/maps/nqV1M">Skizze bei Google Maps</a></li>
    <li>Anfahrt Bayerischer Bahnhof - <a href="http://goo.gl/maps/aK0oI">Skizze bei Google Maps</a></li>
</ul>
<p>
    In Zwenkau gibt es überall um das Rathaus herum verteilt Parkplätze, die laut Standesbeamtin Freitagnachmittag auch
    großteils frei sein sollten. Der Bayerische Bahnhof hat einen eigenen großen Parkplatz. Wenn ihr wollt, könnt ihr
    euer Auto auch gern über Nacht dort stehen lassen und es am nächsten Tag abholen. Ihr müsst schließlich die
    Getränkepauschale ausnutzen ;)
</p>
<p>
    Hier nochmal der Ablauf:
</p>
<dl id="ablauf">
    <dt>15:30 - 16:00</dt>
    <dd>Ankunft der Gäste im
        <a href="http://www.zwenkau.de/index.php/rathaus-und-verwaltung/heiraten-in-zwenkau">Standesamt Zwenkau</a>
        (Bürgermeister-Ahnert-Platz 1, 04442 Zwenkau)
    </dd>
    <dt>16:00 - 17:00</dt>
    <dd>Trauung und Gratulationen</dd>
    <dt>17:00 - 17:30</dt>
    <dd>Überfahrt zum <a href="http://www.bayerischer-bahnhof.de">Bayerischen Bahnhof</a> (Bayrischer Platz 1, 04103
        Leipzig)
    </dd>
    <dt>17:30 - 18:00</dt>
    <dd>Sektempfang im Bayerischen Bahnhof</dd>
    <dt>18:30 - 20:30</dt>
    <dd>Abendessen und Anschnitt der Hochzeitstorte</dd>
    <dt>20:30 - open end</dt>
    <dd>feiern, feiern, feiern, …</dd>
</dl>
<p>
    Bitte schenkt uns keine Blumensträuße! Wir mögen Blumen sehr gern aber 20 Sträuße auf einmal werden zu viel ;) Wenn
    ihr mögt würden wir uns sehr über Blumengutscheine (ich hab gelernt sowas gibt es…) oder eine einzelne Blüte freuen.
    Aus den Blüten entsteht dann ein kunterbunter Blumenstrauß für´s Buffet.
</p>
<p>
    Da wir noch mal zum Dresscode gefragt wurden: Kommt schön schick! Auch bodenlange Ballkleider sind gern gesehen ;)
    Aber wohlfühlen solltet ihr euch auf jeden Fall. Bei den Männern wär ein Schlips zumindest zur Trauung schön.
</p>
<p>
    Alle kleinen Mädls können Mara sehr gern beim Blumen streuen helfen (Körbchen sind da). Bringt bitte Wechselsachen
    für eure Kinder mit, es gibt einen Spielplatz.
</p>
<p>
    Während der Trauung wird eine Fotografin die schönsten Augenblicke festhalten, sodass ihr ohne knipsen das
    „Spektakel“ anschauen könnt :) Franca wird uns bis etwa 20 Uhr begleiten.
</p>
<p>
    Spiele und Co koordinieren <a href="mailto:lovehewitt111@@aol.com?subject=Steffi%20und%20Stefan%20heiraten!">Anna
    alias Trauzeugin</a>, <a href="mailto:teresa.merfert@@yahoo.de?subject=Steffi%20und%20Stefan%20heiraten!">Resi</a>
    (teresa.merfert@@yahoo.de) und am Freitag dann der DJ.
</p>
<p>
    Wir wurden mehrfach wegen Geschenkwünschen gefragt und haben uns nun doch entschlossen, einen <a
        href="http://www.wunsch-galerie.de/?wz=K837N3DC">&bdquo;Geschenketisch&rdquo; im Internet</a> einzurichten. Da
    wir ja nun schon eine kleine Weile zusammenleben, haben wir ja schon so gut wie alles für den Haushalt, aber ein
    paar Dinge sind uns dann doch noch eingefallen. Ansonsten freuen wir uns auch immer sehr über ein kleines Stück
    Hochzeitsreise und natürlich auch über kreative Ideen von euch!
</p>
<p>
    Wir haben hoffentlich nichts vergessen… aber das war ja jetzt ein halber Roman.<br>
    Wir freuen uns auf Freitag :)<br>
    Liebe Grüße<br><br>
    Steffi & Stefan & Mara & Lukas
</p>
}