@(benutzer: model.Benutzer)

@begruessung = {
    Willkommen @benutzer.name.vorname
}

@main(heading=begruessung.toString) {
<p>
    Auf dieser Seite findest du alle wichtigen Infos zu unserer Hochzeit. Damit es für den Anfang<br />
    nicht so leer aussieht hier ein Bild von unseren zwei Süßen :)
</p>
<p>
    Für die Planung wäre es schön, wenn du uns Bescheid geben könntest, ob ihr im Hotel übernachten wollt (falls du's
    <br />noch nicht getan hast).
</p>
<p>
    Da wir schon mehrfach gefragt wurden, was wir uns wünschen: sobald Lukas etwas größer ist, möchten wir wieder
    anfangen zu tanzen und nächstes Jahr würden wir dann auch gern unsere Hochzeitsreise nachholen – über ein Stück
    Tanzkurs oder Hochzeitsreise würden wir uns sehr freuen :)
</p>
<p>
    Falls du Ideen für Hochzeitsspiele und Co hast, kannst du dich gern an Anna alias Trauzeugin (lovehewitt111@@aol.com)
    oder Resi (teresa.merfert@@yahoo.de) wenden.
</p>




}